source_env_if_exists .envrc.secret
source_env_if_exists .envrc.local

export ORG="veatech"
export PROJECT="smithy"

export AWS_DEFAULT_REGION="us-east-1"
export JAVA_HOME="$(/usr/libexec/java_home -v 17)"

use asdf
layout python